body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  list-style-type: none;
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #000000;
  float: left;
  font-size: 85px;
  font-weight: bold;
  line-height: 34px;
  height: 140px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 140px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  font-size: 15px;
}

.game-title {
  background-image: linear-gradient(90deg, #1815d1 0%, #00C0FF 40%, #f79b11 95%);
  font-size: 25px;
  opacity: 85%;
}

.move-button {
  width:calc(12vw + 6px);
  height:calc(3vw + 6px);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:bold;
  padding: 10;
  background-color: #f79b11;
  opacity: 85%;
  margin-bottom: 5px;
}
